* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
}

.counter-header--1 {
  font-size: 4rem;
}
