* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f0a04b;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  column-gap: 4rem;
}

.counter-primary-header {
  font-size: 6rem;
  grid-column: 1 / -1;
  color: #fff;
}

.counterbox {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 5.1rem 7rem;
  column-gap: 1rem;
  row-gap: 3rem;
  height: 20rem;
  padding: 2rem 0.4rem;
  background-color: #fef6ed;
  border-radius: 2.5rem;
  align-self: start;
}

h2 {
  font-size: 4rem;
  grid-column: span 2;
  justify-self: center;
  color: #f0a04b;
}

input {
  font-size: 2rem;
  padding: 0.2rem 1rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  background-color: #ffb38e;
  color: #fff;
}

input::placeholder {
  color: #ffffff7c;
}

button {
  font-size: 2rem;
  font-weight: 500;
  border-radius: 50%;
  background-color: #f0a04b;
  color: #fff;
  border: none;
  cursor: pointer;
}
